---
title: index
permalink: "/"
author: cms
layout: blog
---

{% include megamenu.html %}
{% include card.html %}
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#page-top" id="i18_title"><span data-i18n="website.title"><img src="\static\img\landing\logociptamedia.png" width="200" class="img-responsive" alt=""></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                    <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li class="dropdown mega-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyek Terdahulu <span class="caret"></span></a>
                        <ul class="dropdown-menu mega-dropdown-menu row">
                            <li class="col-sm-6">
                                <ul>
                                    <li class="dropdown-header">Cipta Media Seluler</li>
                                    <li><a href="/ciptamediaseluler/tentangcms.html">Tentang</a></li>
                                    <li><a href="/ciptamediaseluler/penerimahibah.html">Penerima Hibah</a></li>
                                    <li><a href="/ciptamediaseluler/hibahcms-semua.html">Pendaftar Hibah</a></li>
                                    <li><a href="/ciptamediaseluler/timkami.html">Tim</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-6">
                                <ul>
                                    <li class="dropdown-header">Cipta Media Bersama</li>
                                    <li><a href="/ciptamediabersama/tentangcmb.html">Tentang</a></li>
                                    <li><a href="/ciptamediabersama/penerimahibah.html">Penerima Hibah</a></li>
                                    <li><a href="/ciptamediabersama/hibahcmb-semua.html">Pendaftar Hibah</a></li>
                                    <li><a href="/ciptamediabersama/timkami.html">Tim</a></li>
                                </ul>
                            </li>
                        </ul>
                    <li class="dropdown mega-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
                        <ul class="dropdown-menu mega-dropdown-menu row">
                            <li class="col-sm-6">
                                <ul>
                                    <li class="dropdown-header">Cipta Media Seluler</li>
                                    <li><a href="/berita/">Berita</a></li>
                                    <li><a href="/inspirasi/">Inspirasi</a></li>
                                    <li><a href="/kajian/">Kajian</a></li>
                                    <li><a href="/gagasan/">Gagasan</a></li>
                                    <li><a href="/inovasi/">Inovasi</a></li>
                                    <li><a href="/tutorial/">Tutorial</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-6">
                                <ul>
                                    <li class="dropdown-header">Cipta Media Bersama</li>
                                    <li><a href="/acara/">Acara</a></li>
                                    <li><a href="/teladan/">Teladan</a></li>
                                </ul>
                            </li>
                        </ul>
                </ul>
            </div>
        </div>
    </nav>
</div>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

<section id="header" style="background-image: url(/static/img/landing/bg_2.jpg);background-size: cover;background-attachment: scroll;background-repeat: no-repeat;background-position: right bottom;height: 100vh;">
    <div class="container" style="padding-top:250px;">
        <div class="row" style="color:#FFFFFF">
            <div class="col-md-6 well well-lg" style="background-color: rgba(0, 0, 0, 0.3); border: #ffffff;">
                <h1 class="title">Cipta Media Ekspresi</h1>
                <h2>Hibah terbuka untuk seniman Indonesia terutama perempuan dan kelompok minoritas dalam mengekspresikan kebudayaannya</h2> 
                <br>
                <a href="#" class="btn btn-danger btn-lg">
                     Daftar di sini
                </a>
                <a href="tentang-ekspresi.html" class="btn btn-danger btn-lg">
                     Informasi lebih lanjut
                </a>
            </div>
        </div>
	<div class="text-center" style="bottom: 10px; position: absolute; left: 50%;">
  		<a href="#one" style="color: #FFF;"><i class="fa fa-chevron-circle-down fa-3x" aria-hidden="true"></i></a>
	</div>
    </div>
</section>

<section id="header" style="margin-top: 0px;">
    <div class="container" style="padding-bottom:50px;" id="one">
	<div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><span data-i18n="proyek.proyek">Proyek Terdahulu</span></h1>
            </div>
        </div>
        <div class="row">
		
		<div class="col-md-6">
		    <div class="card">
			<div class="card-image">
			    <img class="img-responsive" src="/static/img/landing/buruh.jpg">
			</div>

			<div class="card-content">
			    <h1 class="title">Cipta Media Seluler</h1>
			    <h2>Teknologi seluler untuk perubahan sosial</h2>
			    <p>Cipta Media Seluler adalah hibah terbuka yang mengajak individu, komunitas, atau organisasi memunculkan inisiatif-inisiatif untuk perubahan sosial yang lebih adil melalui penggunaan teknologi seluler. Hibah terbuka ini menyediakan dukungan dana sebesar 750 ribu dolar AS bagi inisiatif-inisiatif teknologi seluler terbaik yang dapat dimodifikasi dan dicontoh untuk diterapkan di daerah lain.<br/><a href="/ciptamediaseluler/tentangcms.html">Selengkapnya...</a></p>
			</div>

			<div class="card-action">
			    <a href="/ciptamediaseluler/proses.html" target="new_blank">Proses Hibah</a>
			</div>
		    </div>
		</div>
		
		<div class="col-md-6">
		    <div class="card">
			<div class="card-image">
			    <img class="img-responsive" src="/static/img/landing/23_1_4-Photo.jpg">
			</div>

			<div class="card-content">
			    <h1 class="title">Cipta Media Bersama</h1>
			    <h2>Meretas batas – kebhinekaan bermedia</h2>
			    <p>Cipta Media Bersama adalah hibah terbuka yang mengajak individu atau organisasi memunculkan ide baru dan segar dalam praktek bermedia yang mampu membuat perbaikan media di Indonesia. Hibah terbuka ini menyediakan dukungan sebesar satu juta dolar AS bagi inisiatif-inisiatif yang dapat menjadi contoh praktek terbaik dalam kebhinekaan, kesetaraan, kebebasan dan etika bermedia.<br/><a href="/ciptamediabersama/tentangcmb.html">Selengkapnya...</a></p>
			</div>

			<div class="card-action">
			    <a href="/ciptamediabersama/proses.html" target="new_blank">Proses Hibah</a>
			</div>
		    </div>
		</div>
		
        </div>
    </div>
</section>

<section class="features gray-section" style="margin-top: 0px;">
    <div class="container">
        <div class="row m-b-lg text-center">
            <div class="col-lg-12">
                <div class="navy-line"></div>
                <h1>Kalender Aktifitas</h1>
            </div>
        </div>

    <div id="calendar" class="calendar"></div>
    
	<script>
	$(function() {
		var currentYear = new Date().getFullYear();

		$('#calendar').calendar({ 
			enableContextMenu: true,
			clickDay: function(e) {
				if(e.events.length > 0) {
					var show = 1;
					var content = '';

					for(var i in e.events) {
						content += '<div class="event-tooltip-content">'
										+ '<a href="' + e.events[i].url + '"><div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
										+ '<div class="event-location">' + e.events[i].location + '</div></a>'
										+ '<hr>'
									+ '</div>';
					}

					$(e.element).popover({ 
						trigger: 'manual',
						container: 'body',
						html:true,
						content: content
					});

					$(e.element).popover('show');
				}
			},
			dayContextMenu: function(e) {
				$(e.element).popover('hide');
			},
			dataSource: [
			{% for post in site.categories['laporan'] %}
				{
					name: '{{ post.title }}',
					location: '{{ post.categories | last }}',
					url: '{{ post.url }}',
					startDate: new Date({{ post.date | date: "%Y" }}, {{ post.date | date: "%m" | minus: 1 }}, {{ post.date | date: "%d" }}),
					endDate: new Date({{ post.date | date: "%Y" }}, {{ post.date | date: "%m" | minus: 1 }}, {{ post.date | date: "%d" }}),
				},
			{% endfor %}
			]
		});

		$('[data-toggle="popover"],[data-original-title]').popover();

		$(document).on('click', function(e) {
			$('[data-toggle="popover"],[data-original-title]').each(function() {
			if (!$(this).is(e.element) && $(this).has(e.element).length === 0 && $('.popover').has(e.events).length === 0) {
			  $(this).popover('hide').data('bs.popover').inState.click = false
			}

			});
		});
	});
        </script>

	</div>
</section>

<section class="features" style="margin-top: 0px;">
    <div class="container">
        
        <div class="row m-b-lg text-center">
            <div class="col-lg-12">
                <div class="navy-line"></div>
                <h1>Artikel Terbaru</h1>
            </div>
        </div>
        
        <div class="row">
        {% for post in site.posts%}
	{% unless post.categories contains 'laporan' %}
	{% assign counter = counter | plus: 1 %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="{{ post.img }}" class="img-responsive center-block" style="max-height:120px">
                    </div>
                    <div class="col-xs-8">
                        <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
                        <i class="fa fa-clock-o"></i> <a>{{ post.date | date: "%-d %b %Y" }}</a>
                        <p>{{ post.content | strip_html | truncatewords:20 }}</p>
                    </div>
                </div>
                <hr>
            </div>
	{% if counter == 8 %}
		{% break %}
	{% endif %}
	{% endunless %}
        {% endfor %}
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="{{ "/blog/" | prepend: site.baseurl }}">Artikel Lainnya</a>
            </div>
        </div>
    </div>
</section>


