<!DOCTYPE html>
<html>
{% include head.html %}
{% include megamenu.html %}
<body id="page-top" class="landing-page">
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/index.html"><span data-i18n="website.title"><img src="\static\img\landing\logociptamedia.png" width="200" class="img-responsive" alt=""></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                    <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li class="dropdown mega-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyek Terdahulu <span class="caret"></span></a>
                        <ul class="dropdown-menu mega-dropdown-menu row">
                            <li class="col-sm-6">
                                <ul>
                                    <li class="dropdown-header">Cipta Media Seluler</li>
                                    <li><a href="/ciptamediaseluler/tentangcms.html">Tentang</a></li>
                                    <li><a href="/ciptamediaseluler/penerimahibah.html">Penerima Hibah</a></li>
                                    <li><a href="/ciptamediaseluler/hibahcms-semua.html">Pendaftar Hibah</a></li>
                                    <li><a href="#">Tim</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-6">
                                <ul>
                                    <li class="dropdown-header">Cipta Media Bersama</li>
                                    <li><a href="/ciptamediabersama/tentangcmb.html">Tentang</a></li>
                                    <li><a href="/ciptamediabersama/penerimahibah.html">Penerima Hibah</a></li>
                                    <li><a href="/ciptamediabersama/hibahcmb-semua.html">Pendaftar Hibah</a></li>
                                    <li><a href="#">Tim</a></li>
                                </ul>
                            </li>
                        </ul>
                    <li class="dropdown mega-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
                        <ul class="dropdown-menu mega-dropdown-menu row">
                            <li class="col-sm-6">
                                <ul>
                                    <li class="dropdown-header">Cipta Media Seluler</li>
                                    <li><a href="/berita/">Berita</a></li>
                                    <li><a href="/inspirasi/">Inspirasi</a></li>
                                    <li><a href="/kajian/">Kajian</a></li>
                                    <li><a href="/gagasan/">Gagasan</a></li>
                                    <li><a href="/inovasi/">Inovasi</a></li>
                                    <li><a href="/tutorial/">Tutorial</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-6">
                                <ul>
                                    <li class="dropdown-header">Cipta Media Bersama</li>
                                    <li><a href="/acara/">Acara</a></li>
                                    <li><a href="/teladan/">Teladan</a></li>
                                </ul>
                            </li>
                        </ul>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container article">

  <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
        </div>
  </div>

  <div class="row m-b-lg">
      <div class="col-md-8">
        <h1>{{ page.title }}</h1>
        {{ content }}
        <!--data-data-->
         <div class="row">
            <div class="col-lg-3">Nomor:</div><div class="col-lg-9">{{ page.nohibah }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Inisiator:</div><div class="col-lg-9">{{ page.inisiator }}</div>
         </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">Organisasi:</div><div class="col-lg-9">{{ page.organisasi }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Tanggal aplikasi:</div><div class="col-lg-9">{{ page.date | date: "%-d %B %Y" }}</div>
         </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">Lokasi:</div><div class="col-lg-9">{{ page.lokasi }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Dana:</div><div class="col-lg-9">{{ page.dana }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Topik hibah:</div><div class="col-lg-9">{{ page.topik }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Masa Aktivitas:</div><div class="col-lg-9">{{ page.lama }}</div>
         </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">Deskripsi Proyek:</div><div class="col-lg-9">{{ page.deskripsi | newline_to_br }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Masalah yang ingin diatasi:</div><div class="col-lg-9">{{ page.masalah | newline_to_br }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Cara mengatasi dan masyarakat yang diuntungkan:</div><div class="col-lg-9">{{ page.solusi | newline_to_br }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Ukuran kesuksesan:</div><div class="col-lg-9">{{ page.keberhasilan | newline_to_br }}</div>
         </div>
        <hr>
      <!--end-->  
      </div>
      <div class="col-md-4">
        <h1>Perkembangan Proyek</h1>
        <hr>
        <br/>

        {% if page.title == 'AKUMASSA.ORG' %}
        
            {% for post in site.categories['AKUMASSA.ORG'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://ciptamedia.siteleaf.net/akumassa.org/">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Amboina Cyber Society' %}
        
            {% for post in site.categories['Amboina Cyber Society'] %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://ciptamedia.siteleaf.net/amboinacybersociety/">Laporan Lainnya</a>
            </div>
          </div>
        
         {% elsif page.title == '“Benor FM”, Radio komunitas sebagai Media Belajar dan alat perjuangan hak dasar Orang Rimba' %}
        
            {% for post in site.categories['“Benor FM” Radio komunitas sebagai Media Belajar dan alat perjuangan hak dasar Orang Rimba'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://ciptamedia.siteleaf.net/“benorfm”radiokomunitassebagaimediabelajardanalatperjuanganhakdasarorangrimba/">Laporan Lainnya</a>
            </div>
          </div>
        
         {% elsif page.title == 'LenteraTimur.com – Menyigi Identitas Indonesia' %}
        
            {% for post in site.categories['LenteraTimur.com – Menyigi Identitas Indonesia'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://ciptamedia.siteleaf.net/lenteratimur.com–menyigiidentitasindonesia/">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Video untuk Perdamaian' %}
        
            {% for post in site.categories['Video untuk Perdamaian'] %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
        {% elsif page.title == 'Kartunet.com - Media Online Sosialisasi dan Pengembangan Komunitas Pemuda dengan Disabilitas' %}
        
            {% for post in site.categories['Kartunet.com - Media Online Sosialisasi dan Pengembangan Komunitas Pemuda dengan Disabilitas'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://ciptamedia.siteleaf.net/kartunet.com-mediaonlinesosialisasidanpengembangankomunitaspemudadengandisabilitas/">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Penghargaan Hak Asasi Manusia untuk Blogger (Human Rights Blogger Award)' %}
        
            {% for post in site.categories['Penghargaan Hak Asasi Manusia untuk Blogger (Human Rights Blogger Award)'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://ciptamedia.siteleaf.net/penghargaanhakasasimanusiauntukblogger(humanrightsbloggeraward)/">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Hpku-Teman Belajarku' %}
        
            {% for post in site.categories['Hpku-Teman Belajarku'] %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
        {% elsif page.title == 'Mendorong Media Sehat dalam Pemberitaan Syariat Islam di Aceh' %}
        
            {% for post in site.categories['Mendorong Media Sehat dalam Pemberitaan Syariat Islam di Aceh'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://ciptamedia.siteleaf.net/mendorongmediasehatdalampemberitaansyariatislamdiaceh/">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Next Generation – Media Watch & Literacy' %}
        
            {% for post in site.categories['Next Generation – Media Watch & Literacy'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://ciptamedia.siteleaf.net/nextgeneration–mediawatch&literacy/">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Aldepe.com - Advokasi Hak Asasi Manusia (HAM) di Papua Via Media Online, Mobile Phone dan Social Media' %}
        
            {% for post in site.categories['Aldepe.com- Advokasi Hak Asasi Manusia (HAM) di Papua Via Media Online, Mobile Phone dan Social Media'] limit:5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://ciptamedia.siteleaf.net/aldepe.com-advokasihakasasimanusia(ham)dipapuaviamediaonline,mobilephonedansocialmedia/">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Ibu Rumah Tangga Perdesaan “Melek” Media untuk Peningkatan Partisipasi Perempuan dan Pemenuhan Kebutuhan Informasi' %}
        
            {% for post in site.categories['Ibu Rumah Tangga Perdesaan “Melek” Media untuk Peningkatan Partisipasi Perempuan dan Pemenuhan Kebutuhan Informasi'] %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
        {% elsif page.title == 'MK-160 - Media Komunitas 160 Karakter' %}
        
            {% for post in site.categories['MK-160 - Media Komunitas 160 Karakter'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://ciptamedia.siteleaf.net/mk-160-mediakomunitas160karakter/">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Tidak Bermula [Dan Tidak Berakhir] Dengan Berita' %}
        
            {% for post in site.categories['Tidak Bermula [Dan Tidak Berakhir] Dengan Berita'] %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
        {% elsif page.title == 'Radio Buruh Perempuan; Dari Perempuan Buruh untuk Kesetaraan' %}
        
            {% for post in site.categories['Radio Buruh Perempuan; Dari Perempuan Buruh untuk Kesetaraan'] %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
        {% elsif page.title == 'Bhinneka - Keberagaman dan Kesetaraan Tanpa Batas' %}
        
            {% for post in site.categories['Bhinneka - Keberagaman dan Kesetaraan Tanpa Batas'] %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
        {% else %}
        
          <h4>Tidak ada aktifitas</h4>
        
        {% endif %}
        
    </div>
  </div>

</div>

{% include footer.html %}
{% include footer_content.html %}

</body>
</html>
